@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000319}}
#grafica .pico1, #grafica .pico2 {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: bottom;
  border-top: 0 dotted;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 8px solid black;
}

@font-face {
  font-family: 'opensans_regular';
  src: url("../fonts/opensans-regular/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans_condensed_light';
  src: url("../fonts/opensans-condensedlight/opensans-condlight-webfont.eot");
  src: url("../fonts/opensans-condensedlight/opensans-condlight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-condensedlight/opensans-condlight-webfont.woff") format("woff"), url("../fonts/opensans-condensedlight/opensans-condlight-webfont.ttf") format("truetype"), url("../fonts/opensans-condensedlight/opensans-condlight-webfont.svg#open_sanscondensed_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Retinize de Dan Cederholm */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\000039}}
.progress {
  overflow: hidden;
  height: 1.5em;
  margin-bottom: 1em;
  background-color: #eee;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\0000319}}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: .9em;
  line-height: 1em;
  color: #fff;
  text-align: center;
  background-color: #ee6c46;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\0000332}}
.progress .sr-only {
  position: relative;
  top: .35em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\00003101}}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\00003105}}
.fade.in {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\00003110}}
.collapse {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\00003112}}
.collapse.in {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\00003116}}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\000037}}
::selection {
  background: #ee6c46;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\000038}}
::-moz-selection {
  background: #ee6c46;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000310}}
html {
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000314}}
body {
  background: #fff;
  font-family: "opensans_regular", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000321}}
.section {
  margin-bottom: 1.5em;
  padding-top: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000327}}
p,
ul {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000331}}
a {
  color: #d6613f;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000335}}
a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000340}}
ul li {
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000345}}
.unanimated h1,
.unanimated #header .logo,
.unanimated #header .row .nav {
  opacity: 0;
  -webkit-animation-name: none;
  -moz-animation-name: none;
  animation-name: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000350}}
h1 {
  font-family: "opensans_condensed_light", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #4f2417;
  padding: 1.55em 0 0.75em 4.65em;
  -webkit-animation-name: anim-logo;
  -moz-animation-name: anim-logo;
  animation-name: anim-logo;
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  animation-duration: 0.9s;
  font-size: 40px;
  font-size: 2.22222rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000364}}
h2 {
  line-height: 1.1em;
  text-transform: uppercase;
  font-family: "opensans_condensed_light", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
  font-size: 40px;
  font-size: 2.22222rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000374}}
.row {
  width: 50em;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000379}}
#header {
  background: #ee6c46;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000382}}
#header button {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000386}}
#header a {
  color: #4f2417;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000390}}
#header a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\0000395}}
#header .logo {
  position: absolute;
  top: 1em;
  z-index: 100;
  height: 170px;
  width: 170px;
  background-image: url("../img/logo.png");
  -webkit-animation-name: anim-logo;
  -moz-animation-name: anim-logo;
  animation-name: anim-logo;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000384}}
  #header .logo {
    background-image: url("../img/logo-2x.png");
    -webkit-background-size: 170px 170px;
    -moz-background-size: 170px 170px;
    -o-background-size: 170px 170px;
    background-size: 170px 170px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003107}}
#header ul li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003111}}
#header ul li + li:before {
  content: "|";
  color: #4f2417;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003117}}
#main-nav {
  display: block;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003122}}
#header .row {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003125}}
#header .row .nav {
  position: absolute;
  top: 3.95em;
  right: 0;
  -webkit-animation-name: anim-logo;
  -moz-animation-name: anim-logo;
  animation-name: anim-logo;
  -webkit-animation-duration: 0.85s;
  -moz-animation-duration: 0.85s;
  animation-duration: 0.85s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003135}}
#mapa {
  padding-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003139}}
#map-canvas {
  width: 100%;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003144}}
#mapa h2 {
  line-height: 1.1em;
  margin-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003149}}
#mapa p {
  font-family: "opensans_regular", Helvetica, Arial, sans-serif;
  margin-bottom: .5em;
  font-size: 16px;
  font-size: 0.88889rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003155}}
#mapa .download a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  background: #ee6c46;
  padding: 0.4em 0.8em;
  border: 1px solid #ed653d;
  font-family: "opensans_condensed_light", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 2.3em;
  margin: 1.5em 0;
  background-repeat: no-repeat;
  background-position: 12px 10px;
  background-image: url("../img/download2.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\0000369}}
#mapa .download a:hover, #mapa .download a:focus {
  background: #e3572e;
  border-color: #ea4717;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\0000376}}
#mapa .download a:active, #mapa .download a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_bootstrap\.scss}line{font-family:\0000384}}
#mapa .download a.disabled, #mapa .download a[disabled], fieldset[disabled] #mapa .download a {
  cursor: not-allowed;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000384}}
  #mapa .download a {
    background-image: url("../img/download2-2x.png");
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px 18px;
    -o-background-size: 18px 18px;
    background-size: 18px 18px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003166}}
#mapa .download a:hover, #mapa .download a:focus {
  background-repeat: no-repeat;
  background-position: 12px 10px;
  background-image: url("../img/download2.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000384}}
  #mapa .download a:hover, #mapa .download a:focus {
    background-image: url("../img/download2-2x.png");
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px 18px;
    -o-background-size: 18px 18px;
    background-size: 18px 18px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003174}}
table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003178}}
table thead tr th {
  background: #d6613f;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003183}}
table tbody tr {
  border-bottom: 1px solid #afb0b3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003187}}
table tbody tr:nth-child(even) {
  background: #f9f9f9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003192}}
table tr td,
table tr th {
  padding: 0.88889em 1.22222em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003197}}
table td.ascendido {
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-image: url("../img/banderaOK.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000384}}
  table td.ascendido {
    background-image: url("../img/banderaOK-2x.png");
    -webkit-background-size: 22px 30px;
    -moz-background-size: 22px 30px;
    -o-background-size: 22px 30px;
    background-size: 22px 30px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003205}}
table td.ascendido.no {
  background-image: url("../img/banderaNoAscendido.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000384}}
  table td.ascendido.no {
    background-image: url("../img/banderaNoAscendido-2x.png");
    -webkit-background-size: 22px 30px;
    -moz-background-size: 22px 30px;
    -o-background-size: 22px 30px;
    background-size: 22px 30px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003210}}
table tbody tr:hover {
  background: #f4dfd9;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003215}}
.progressTag {
  margin-bottom: 0.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003218}}
.progressTag:after {
  content: ":";
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003223}}
.progress {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003228}}
#resultado,
#resultadoPonderado {
  width: 100%;
  z-index: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003233}}
#resultadoPonderado {
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003237}}
#visorGrafica {
  width: 100%;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003242}}
#grafica {
  position: relative;
  width: 100%;
  height: 450px;
  width: 12550px;
  background: #e9e9e9;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003250}}
#grafica li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003253}}
#grafica li:hover .info {
  background: rgba(255, 255, 255, 0.9);
  z-index: 80;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003258}}
#grafica li:hover .pico1 {
  border-color: transparent transparent #ca5b3b !important;
  z-index: 80;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003263}}
#grafica li:hover .pico2 {
  border-color: transparent transparent #b55235 !important;
  z-index: 80;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003270}}
#grafica .pico1 {
  position: absolute;
  bottom: 0;
  z-index: 10;
  border-right: 0;
  border-style: solid;
  border-color: transparent transparent #ee6c46;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003281}}
#grafica .pico2 {
  position: absolute;
  bottom: 0;
  border-left: 0;
  margin-left: 92px;
  border-color: transparent transparent #d6613f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003291}}
#grafica .info {
  position: absolute;
  margin-left: 17px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 20;
  padding: 3px 5px;
  width: 140px;
  text-align: center;
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003303}}
#footer {
  background: #edebea;
  color: #4f2417;
  padding: 1.5em 0;
  text-align: center;
  font-size: 14px;
  font-size: 0.77778rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003312}}
.creativeCommons {
  border: 2px solid #777777;
  color: #777;
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003323}}
.creativeCommons:hover {
  color: #444;
  border-color: #444;
}

@-webkit-keyframes anim-logo {
  /* line 330, ../scss/styles.scss */
  0% {
    -webkit-transform: translateY(-15em);
  }

  /* line 334, ../scss/styles.scss */
  15% {
    -webkit-transform: translateY(-1.62em);
  }

  /* line 338, ../scss/styles.scss */
  30% {
    -webkit-transform: translateY(0);
  }

  /* line 342, ../scss/styles.scss */
  45% {
    -webkit-transform: translateY(-0.98em);
  }

  /* line 346, ../scss/styles.scss */
  60% {
    -webkit-transform: translateY(0);
  }

  /* line 350, ../scss/styles.scss */
  75% {
    -webkit-transform: translateY(-0.32em);
  }

  /* line 354, ../scss/styles.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes anim-logo {
  /* line 360, ../scss/styles.scss */
  0% {
    -moz-transform: translateY(-15em);
  }

  /* line 364, ../scss/styles.scss */
  15% {
    -moz-transform: translateY(-1.62em);
  }

  /* line 368, ../scss/styles.scss */
  30% {
    -moz-transform: translateY(0);
  }

  /* line 372, ../scss/styles.scss */
  45% {
    -moz-transform: translateY(-0.98em);
  }

  /* line 376, ../scss/styles.scss */
  60% {
    -moz-transform: translateY(0);
  }

  /* line 380, ../scss/styles.scss */
  75% {
    -moz-transform: translateY(-0.32em);
  }

  /* line 384, ../scss/styles.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@keyframes anim-logo {
  /* line 390, ../scss/styles.scss */
  0% {
    transform: translateY(-15em);
  }

  /* line 394, ../scss/styles.scss */
  15% {
    transform: translateY(-1.62em);
  }

  /* line 398, ../scss/styles.scss */
  30% {
    transform: translateY(0);
  }

  /* line 402, ../scss/styles.scss */
  45% {
    transform: translateY(-0.98em);
  }

  /* line 406, ../scss/styles.scss */
  60% {
    transform: translateY(0);
  }

  /* line 410, ../scss/styles.scss */
  75% {
    transform: translateY(-0.32em);
  }

  /* line 414, ../scss/styles.scss */
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003420}}
  html {
    font-size: 16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003424}}
  body {
    font-size: 16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003428}}
  .row {
    width: auto;
    margin: 0 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003435}}
  h1,
  #header .logo,
  #header .row .nav {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    animation-name: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003439}}
  h1 {
    padding: 1.55em 0 0.75em 5.25em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003446}}
  table tr td,
  table tr th {
    vertical-align: top;
  }
}
@media only screen and (max-width: 990px) and (max-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003451}}
  h1 {
    margin: 0 0.8em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003457}}
  #header .row {
    text-align: center;
    padding: 1em 0 0;
    margin: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003464}}
  #header .row .logo,
  #header .row .nav {
    position: static;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003469}}
  #header ul li + li:before {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003473}}
  #header .menuButtonWrapper {
    margin: 0 2em;
    text-align: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003478}}
  #header button {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    display: inline-block;
    background-color: #6b311f;
    border: 0;
    background-image: url(../img/menu.png);
    width: 40px;
    height: 40px;
    right: 32px;
    top: 221px;
    background-image: url("../img/menu.png");
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003494}}
  #header button:hover {
    cursor: pointer;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003499}}
  #main-nav {
    height: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003504}}
  #header .row .nav li {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003508}}
  #header .row .nav li a {
    display: block;
    background: #6b311f;
    color: #ee6c46;
    padding: 0.5em 1.25em;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003515}}
  #header .row .nav li a:hover {
    text-decoration: none;
    background: #d05531;
    color: #6b311f;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003523}}
  h1 {
    padding: 0.5em 0;
    line-height: 1.1em;
  }
}
@media only screen and (max-width: 990px) and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 990px) and (max-width: 900px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 990px) and (max-width: 900px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 990px) and (max-width: 900px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 990px) and (max-width: 900px) and (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/_base\.scss}line{font-family:\0000384}}
  #header button {
    background-image: url("../img/menu-2x.png");
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
  }
}
@media only screen and (max-width: 990px) and (max-width: 570px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003531}}
  table tr td,
  table tr th {
    padding: 0.77778em 0.55556em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003534}}
  table tr td:nth-child(3n),
  table tr th:nth-child(3n) {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003539}}
  .row {
    margin: 0 1.25em;
  }
}
@media only screen and (max-width: 990px) and (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003546}}
  table tr td,
  table tr th {
    padding: 0.77778em 0.27778em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003550}}
  table th:nth-child(4) {
    display: block;
    width: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rober\/Documents\/GitHub\/techosdeasturias\/scss\/styles\.scss}line{font-family:\00003558}}
  .row {
    width: auto;
    margin: 0 1em;
  }
}
